In [1]:
import sys
import pandas as pd

In [2]:
og_input = pd.read_csv("nb-deainput.csv", index_col=0)

In [4]:
samplenumA = 3
samplenumB = 3

In [7]:
samplestotal = samplenumA+samplenumB

In [9]:
counts = og_input.iloc[:, samplestotal: 2*samplestotal]

In [11]:
avglength = og_input.iloc[:, 2*samplestotal: 3*samplestotal]

In [12]:
avglength

                    length.1  length.2  length.3  length.4  length.5  length.6
ENSMUSG00000000001   3213.00   3213.00   3213.00   3213.00    3213.0   3213.00
ENSMUSG00000000003    750.50    750.50    750.50    750.50     750.5    750.50
ENSMUSG00000000028   2094.00   1470.08   1957.50   1811.20    1867.8   2035.80
ENSMUSG00000000031   1219.60    403.00   1219.60    768.00     886.0    768.00
ENSMUSG00000000037   3248.14   4793.01   3248.14   3248.14    3501.0   3248.14
...                      ...       ...       ...       ...       ...       ...
ENSMUSG00000099329    331.00    331.00    331.00    331.00     331.0    331.00
ENSMUSG00000099330     24.00     24.00     24.00     24.00      24.0     24.00
ENSMUSG00000099331      8.00      8.00      8.00      8.00       8.0      8.00
ENSMUSG00000099332    150.00    150.00    150.00    150.00     150.0    150.00
ENSMUSG00000099334     89.00     89.00     89.00     89.00      89.0     89.00

[39017 rows x 6 columns]